<!-- <div id="modal-wrapper" class="modal">
      <form class="modal-content animate" action="" #f="ngForm" >
      <div class="update-list">
             <H2 class="create-update">{{editMode===false?'Create ToDo':'Update ToDo'}}</H2>
        </div>
        <div class="update-box update-list ">
            <div class="title common-list">
           <Label>Title:</Label>
           <input  class="title-input" type="text" 
           [value]="defaultName"
           name="title"
           required
           #dataName
           >
       </div>
       <div class="description common-list">
           <Label>Description:</Label>
           <input class="description-input" type="text"
           [value]="defaultDes"
           name="description"
            #dataDescription>
       </div>
       <div class="cancel-create">
           <button class="Cancel" (click)="onCancel()" mat-dialog-close>Cancel</button>
           <button 
           *ngIf="!editMode"
           class="Create btn"
            (click)="onAddPost(dataName,dataDescription)" 
            mat-dialog-close>
           Create
        </button>  
        <button 
        *ngIf="editMode"
        class="Create btn"
        (click)="onEditPost(dataName,dataDescription)" 
        mat-dialog-close>
        Update
    </button>
       </div>
        </div>   
    </form>
  </div> -->
  <div id="modal-wrapper" class="modal">
    <form class="modal-content animate" action="" 
    [formGroup]="postAddupdateForm"
    (ngSubmit)="onSubmit()"
    >
    <div class="update-list">
    <H2 class="create-update">
        {{editMode===false?'Create ToDo':'Update ToDo'}}
    </H2>
      </div>
      <div class="update-box update-list ">
          <div class="title common-list">
         <Label>Title:</Label>
         <input  class="title-input" type="text" 
         formControlName="title"
         required
         >
     </div>
     <div class="description common-list">
         <Label>Description:</Label>
         <input class="description-input" type="text"
         formControlName="description"
          >
     </div>
     <div class="cancel-create">
         <button class="Cancel" (click)="onCancel()" mat-dialog-close>Cancel</button>
         <button 
         type="submit"
         class="Create btn"
          mat-dialog-close>
        {{editMode===false?'Create':'Update'}} 
      </button>  
     </div>
      </div>   
  </form>
</div>