<div id="modal-wrapper" class="modal">
  
    <form class="modal-content animate" action="" #f="ngForm" >

        <div class="update-list">

            <H2
            *ngIf="!editMode"
             class="create-update">Create ToDo</H2>
            <H2 *ngIf="editMode" class="create-update">Update ToDo</H2>

        </div>
        <div class="update-box update-list ">
            <div class="title common-list">
           <Label>Title:</Label>
           <input  class="title-input" type="text" 
           [value]="defaultName"
           name="title"
           required
           #dataName
           >
           <!-- <input *ngIf="editMode" class="title-input" type="text" 
           [value]="defaultName"
           #dateName
           > -->
       </div>
       <div class="description common-list">
           <Label>Description:</Label>
           <input class="description-input" type="text"
           [value]="defaultDes"
           name="description"
            #dataDescription>
       </div>

       <div class="cancel-create">
           <button class="Cancel" (click)="onCancel()">Cancel</button>
           <button  *ngIf="!editMode" class="Create btn" (click)="onAddPost(dataName,dataDescription)">Create</button>
           <button  *ngIf="editMode" class="Create btn" (click)="onEditPost(dataName,dataDescription)">Update</button>

       </div>
        </div>   
    </form>
  </div>